<!DOCTYPE html>
<html lang="en">
<head>
    <title><%=title%></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<%include shared/nav.ejs%>
<!-- END NAVBAR -->


<!-- TITLE MANIPULATION -->
<%
    //Get list of titles

    dashboard.Data.TitleRows.forEach(function (titleRow) {
       titleRow.Titles.forEach( function (title) {
        titles.push(title);
        })
    })

    titles.sort(function(a, b) {
        a.Id - b.Id;
    })


    function removeDuplicates( arr, prop ) {
        var obj = {};
        for ( var i = 0, len = arr.length; i < len; i++ ){
            if(!obj[arr[i][prop]]) obj[arr[i][prop]] = arr[i];
        }
        var newArr = [];
        for ( var key in obj ) newArr.push(obj[key]);
        return newArr;
    }

    titles = removeDuplicates(titles, 'Id');
%>
<!--END TITLE MANIPULATION -->

<div class="container">
    <div class="row ">
        <h1>Alphabetical List of Shows</h1>
        <%for (var i = 0; i < titles.length; i ++) {%>
        <div class="col-sm-4 show">
            <div class="container" id="lilvids">
            <h5 id="titles"><%=titles[i].Name%></h5>
            <img src=<%=titles[i].RokuHDArtUrl%> >
            </div>
        </div>
        <%}%>
    </div>
</div>

<%include shared/footer.ejs%>
<!-- END FOOTER-->
</body>
</html>
